<ion-header>
    <ion-toolbar color="dark">
     <ion-buttons slot="start">
         <ion-back-button></ion-back-button>

       </ion-buttons>
       <ion-title color="light" style="text-align: center">Assign Request</ion-title>
   </ion-toolbar>
 </ion-header>

<ion-content>
    <!-- <ion-input  class="txt-center" color="primary" inputMode="full-width-latin" text-left id="param1" [(ngModel)]="param1">
      </ion-input>
  -->
  <ion-item>
    <h6 ion-text color="primary" style="font-weight: bold;" >{{projectNumber}}: {{projectDescription}}</h6>
</ion-item>

  <ion-item>
          <ion-label>Primary Assignee</ion-label>
          <ion-select placeholder="Select One" [(ngModel)]="primaryAssignee">
           
            <!-- <ion-select-option *ngFor="let p of primaryAssigneeList" value="{{p.person_id}}" selected="true" >{{p.person_name}}</ion-select-option> -->
            <ion-select-option *ngFor="let p of primaryAssigneeList" [value]="p.person_id"  >{{p.person_name}}</ion-select-option>
          </ion-select>
        </ion-item>

         <ion-item>
        <ion-label>Secondary Assignee</ion-label>
            <ion-select placeholder="Select One" [(ngModel)]="secondaryAssignee">
              <ion-select-option *ngFor="let p of secondaryAssigneeList" [value]="p.person_id" >{{p.person_name}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
              <ion-label>Project Priority</ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="projectPriority">
                <ion-select-option *ngFor="let p of priorityList" value="{{p.priority}}">{{p.priority_name}}</ion-select-option>
              </ion-select>
            </ion-item>

            <!-- <ion-item>
              <ion-label>Project Phase</ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="projectPhase">
                <ion-select-option *ngFor="let p of projectPhaseList" value="{{p.project_status}}">{{p.description}}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label>Project Type</ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="projectType">
                <ion-select-option *ngFor="let p of projectTypeList" value="{{p.issue_type}}">{{p.description}}</ion-select-option>
              </ion-select>
            </ion-item> -->

            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Project Long Description</ion-card-subtitle>
                <!-- <ion-card-title>Project Long Description</ion-card-title> -->
              </ion-card-header>
            
              <ion-card-content>
                {{projectLongDescription}}
              </ion-card-content>
            </ion-card>

            <!-- <ion-button expand="block" (click)="AssignRequest()" style="margin-top: 40px;margin:auto;">
         Submit...
       </ion-button> -->
</ion-content>

<ion-footer >
  <ion-button expand="block" (click)="AssignRequest()" style="margin-top: 40px;margin:auto; background-color: black !important;"> Submit
  </ion-button>
</ion-footer>