<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Searchbar</title>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@next/css/ionic.bundle.css"/>
  <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    } 
  </style>
</head>
<body> -->

  <!-- <ion-app>  -->


<ion-header>
  <ion-toolbar color="dark" >
   <!-- <ion-buttons slot="start">
       <ion-back-button></ion-back-button>

     </ion-buttons> -->
     <div>
     <ion-title color="light" style="text-align: center;">Issue Listing
            <ion-icon name="power" (click)="logout()" style="text-align: right;font-size: 20px; margin-left:30px;"></ion-icon>
    </ion-title>
     
     </div>
     <!-- <ion-button (click)="logout()" >  -->
            
    <!-- </ion-button> -->

    
 </ion-toolbar>

 <ion-searchbar  placeholder="Search SR" [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()"></ion-searchbar>

</ion-header>

<ion-content>

    <!-- (click)="openAssignForm(p)" -->
  <div *ngFor="let p of requestList" (click)="openAssignForm(p)">
                    <h6 ion-text color="primary" [class]="p.priority_color" >{{p['project_number']}}: {{p['project_description']}}</h6>
                     <ion-item >
                       <div style="width: 100%">
                              <div class="blockDiv2">
                                  <div class="inlineBlock"> <h6 ion-text color="dark" >Module:&nbsp;</h6></div>
                                    <div class="inlineBlock"><h6 ion-text  color="dark">{{p['module']}}</h6></div>
                             </div>  

                             <div class="blockDiv2">
                                 <div class="inlineBlock"><h6 ion-text color="dark">Preparer:&nbsp;</h6></div>
                                <div class="inlineBlock"><h6 ion-text  color="dark">{{p['preparor']}}</h6></div>
                            </div>

                            <div class="blockDiv2">
                                <div class="inlineBlock"><h6 ion-text color="dark" >Submitted On:&nbsp;</h6></div>
                                <div class="inlineBlock"><h6 ion-text  color="dark" class="rightText " >{{p['submission_date']}}</h6></div>
                            </div> 
                          </div>    
                       </ion-item>
</div>

<!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)"> 
  <ion-infinite-scroll-content
  loadingSpinner="bubbles"
  loadingText="Loading more data...">
</ion-infinite-scroll-content> 
</ion-infinite-scroll>


</ion-content> -->

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
