.highPriority
{
color: red;
margin-left: 10px;
font-weight: bold;
}

.normalPriority
{
color: black;
margin-left: 10px;
font-weight: bold;
}

.centerText
{
    text-align: center;
    width:100%;
}

.x1{

    font-weight: bold;
  
  }

  .inlineBlock
  {
    display:inline-block;
    // width: 100%;
  }

  .onlyBlock
  {
    display:block;
    // width: 100%;
  }

  .blockDiv1
  {
  display:block; 
//   background-color: red;
  width: 100%;
  height: 100%;
}

.blockDiv2
{
display:block; 
// background-color:yellow;
width: 100%;
height: 100%;
}

.leftText
{
    text-align: left;
    width:100%;
    margin-left: 0%;
    //   font-weight: bold;

}

.rightText
{
    text-align: right;
    width:100%;
    //   font-weight: bold;
      color: 	#696969;

}