<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->


<ion-content>
  <div class="page-container">
  <ion-avatar item-start>

  </ion-avatar>

  <ion-list-header class="header1 ">

  </ion-list-header>

  <ion-list class="list1" *ngIf="!showMFA">
 
    <ion-item class="user-class" Id="userId">
      <ion-icon item-start name="ios-person" class="icon1"></ion-icon>
      <ion-input type="text" placeholder="Username...." [(ngModel)]="user">

      </ion-input>
    </ion-item>
    <ion-item class="pass-class" Id="passId">
      <ion-icon item-start name="ios-unlock" class="icon1"></ion-icon>
      <ion-input type="password" placeholder="Password..." [(ngModel)]="userPass">

      </ion-input>
    </ion-item>
    
  </ion-list>
   
  <div *ngIf="showMFA">
    <div class="mfa-message">
         <div> {{MFAmessage}}</div>
      </div>
   
      <ion-item class="optCode-class" *ngIf="showMFAcode" Id="MFA">
       <ion-icon item-start name="md-key" class="icon2"></ion-icon>
       <ion-input type="text" placeholder="Code" [(ngModel)]="MFAcode">
   
       </ion-input>
     </ion-item>
   
     </div>
     
  <ion-button expand="block"  color="dark" (click)="login()" >{{showMFA==true ? 'Continue...' : 'Login...' }}</ion-button>
  

  
  
  <div class='finger-div'  *ngIf="showFingerButton">
  <button ion-button icon-only outline  color='light' class='finger-btn' (click)="fingerPrinAction()" >
    <ion-icon name="ios-finger-print" class='finger-icon' icon></ion-icon>
  </button>
</div>

<!-- <div class='finger-div' *ngIf="showFaceButton">
  <button ion-button icon-only outline  color='light' class='finger-btn' (click)="fingerPrinAction()" >
  
    <ion-img src='assets/imgs/face-id.png' class="img3" *ngIf="showFaceButton"> </ion-img>
  </button>
</div> -->


</div> 
</ion-content>
  <!-- <div class="logos">
    <div class="img1-div">
    <ion-img src='assets/imgs/mbc-logo.png' class="img1"> </ion-img>
  </div>
  <div class="img2-div">
    <ion-img src='assets/imgs/aa_logos.png' class="img2"> </ion-img>
  </div>
  </div>
  -->

