<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header>
    <ion-toolbar color="dark" >
     <ion-buttons slot="start">
         <ion-back-button></ion-back-button>
  
       </ion-buttons>
       <ion-title color="light" style="text-align: center">Issue Listing</ion-title>
   </ion-toolbar>
  </ion-header>

<ion-content>
    <div *ngFor="let p of requestList" (click)="openAssignForm(p)">
        <h6 ion-text color="primary" [class]="p.priority_color" >{{p['project_number']}}: {{p['project_description']}}</h6>
         <ion-item >
           <div style="width: 100%">
                  <div class="blockDiv2">
                      <div class="inlineBlock"> <h6 ion-text color="dark" >Module:&nbsp;</h6></div>
                        <div class="inlineBlock"><h6 ion-text  color="dark">{{p['module']}}</h6></div>
                 </div>  

                 <div class="blockDiv2">
                     <div class="inlineBlock"><h6 ion-text color="dark">Preparer:&nbsp;</h6></div>
                    <div class="inlineBlock"><h6 ion-text  color="dark">{{p['preparor']}}</h6></div>
                </div>

                <div class="blockDiv2">
                    <div class="inlineBlock"><h6 ion-text color="dark" >Submitted On:&nbsp;</h6></div>
                    <div class="inlineBlock"><h6 ion-text  color="dark" class="rightText " >{{p['submission_date']}}</h6></div>
                </div> 
              </div>    
           </ion-item>
</div>
    <!-- <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list> -->
</ion-content>
